{% extends "admin/change_form.html" %}
{% load i18n admin_urls static %}

{% block extrahead %}
{{ block.super }}
<style type="text/css">
    .timeline-item-title {
        font-size: 0.9rem !important;
        font-weight: normal !important;
    }
    .timeline-item {
        padding: 10px !important;
        margin-bottom: 5px !important;
    }
</style>
<script type="text/javascript" src="{% static 'admin/js/jquery.init.js' %}"></script>
<script type="text/javascript" src="{% static 'admin/js/request_admin.js' %}"></script>
{% endblock %} 